{
	margin: 0;
	padding: 0;
}

body
{

	height: 1500px;
	padding-top: 200px;
	padding-left: 30%;
	overflow: hidden;

}

.green{
	width: 750px;
	height: 350px;
	background: green;
	position: relative;
}

.red{
	width: 180px;
	height: 180px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 22%;
	left: 35%;
}

.fb{

	width: 200px;
	position: fixed;
	right: -150px;
	bottom: 80%;
	transition: 1.5s;

}

.ln{

	width: 160px;
	position: fixed;
	right: -108px;
	bottom: 60%;
	transition: 1.5s;

}


.twt{

	width: 160px;
	position: fixed;
	right: -107px;
	bottom: 40%;
	transition: 1.5s;


}

.fb:hover{
	right: 2px;
}
.ln:hover{
	right: 2px;
}
.twt:hover{
	right: 2px;
}